body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
#title{
    color: var(--sun);
    font-weight: bolder;
    font-size: 4vh;
    text-align: center;
}
.function{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
.function-search{
    display: flex;
}
.function-search input{
    height: 4vh;
    width: 35vw;
    padding-left: 1vw;
    font-size: 2.3vh;
    border-radius: 4px;
    border: 1.75px solid white;
    caret-color: white;
    margin-left: none;
    color: white;
    background-color: black;
}
input:focus{
    border: 1.75px solid  white;
    outline: none;
    box-shadow: 0 0 0 1.7px rgba(255, 255, 255, 0.548);
}
input::placeholder{
    color: #d1d0ea88;
}
.function-search div{
    margin-left: -1.5vw;
    padding-top: 0.7vh;
    color: white;
}
.function-filter{
    height: 4.3vh;
    width: 5vw;
    background-color:#6b63fb ;
    border-radius: 4px;
    border: 1px solid #9b95f1;
    font-size: 2.3vh;
    color: white;
    margin-left: 1.45vw;
    align-content: center;
    display: grid;
    grid-template-columns: 75% 25%;
}
.function-filter:hover{
    cursor: pointer;
}
.function-filter:focus{
    background-color: #534cc2;
    border: 2px solid #6c63fe;
}
.function-filter-text{
    margin-top: -0.24vh;
    margin-left: 0.5vw;
}
.function-filter-symbol{
    margin-top: 0.45vh;
    font-weight: 100;
    font-size: 1.5vh;
}
.function-light{
    height: 4.3vh;
    width: 2vw;
    background-color:#6b63fb ;
    border-radius: 4px;
    border: 1px solid #9b95f1;
    margin-left: 1vw;
    color: white;
    font-size: 3vh;
    text-align: center;
    justify-items: center;
}
.function-light:hover{
    cursor: pointer;   
}
.function-light:focus{
    background-color: #534cc2;
    border: 2px solid #6c63fe;
}
.addNote{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    color: white;
    background-color: #6b63fb;
    position: absolute;
    left: 69%;
    top: 90%;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}
.addNote:hover{
    cursor: pointer;
}
.addNote:focus{
    background-color: #534cc2;
    border: 2px solid #6c63fe;
}
.addNote i{
    margin-top: 1.05vh;
}
:root{
    --sun: rgb(247, 247, 247);
    --moon: black:
}